.center {
    text-align: center;
    font-size: 30px;
}

.container {
    display: flex;
    flex-flow: row;
    justify-content: center;
}

#menu li {
    display: inline;
    padding: 15px;
}

#menu li a {
    text-decoration: none;
    color: #000000;
    font-size: 20px;
}

#menu li a:hover {
    color: blueviolet;
}

.padding-30 {
    padding: 30px;
}

.profile-picture {
    border-radius: 50%;
}

.flex-column {
    display: flex;
    flex-flow: column;
}

.form-label {
    padding: 10px 0 5px 0;
}

.form-input {
    border-radius: 5px;
    border-width: 1px;
    min-width: 528px;
    max-width: 528px;
}

.send-button {
    background-color: blueviolet;
    color: white;
    margin: 10px 0 10px 0;
    border-radius: 5px;
    border-width: 0;
    width: 80px;
    height: 35px;
}

.send-button:hover {
    opacity: 0.7;
    width: 90px;
    height: 45px;
}
